%type-bold{
	font-family: 'IRANSansBold', tahoma, arial;
}
%type-medium{
	font-family: 'IRANSansMedium', tahoma, arial;
}
%type-regular{
	font-family: 'IRANSans', tahoma, arial;
}
%type-light{
	font-family: 'IRANSansLight', tahoma, arial;
}